<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiUrl</key>
	<string>https://cardsmith.com/api/</string>
	<key>apiVersion</key>
	<string>1.0</string>
	<key>applicationId</key>
	<string>000001</string>
	<key>seed</key>
	<string>s00p3rs3kr3t</string>
	<key>sampleUsername</key>
	<string>alice</string>
	<key>samplePassword</key>
	<string>password</string>
</dict>
</plist>
